<!DOCTYPE html>

<html>
<%= render 'beyond_canvas/shared/head' %>

<body class="beyond-canvas body--application"<% if is_cockpit_app? && Rails.env.development? %> style="display: flex;"<% end %>>

  <%= render 'beyond_canvas/shared/sidebar' %>

  <main class="main <%= params[:controller].gsub(/[\/_]/, "-") %>--<%= params[:action] %>">

    <%= render 'beyond_canvas/shared/locales' %>
    <%= render 'beyond_canvas/shared/menu' %>
    <%= render 'beyond_canvas/shared/action_bar' %>

    <div class="main-wrapper<% if action_bar_content? %> main-wrapper--action_bar<% end %>"<% if content_for?(:max_width)%> style="max-width: <%= yield :max_width %>"<% end %>>

      <%= yield %>

    </div>

  </main>

</body>
</html>
