<!DOCTYPE html>

<html>
<%= render 'beyond_canvas/shared/head' %>

<body class="body--application"<% if is_cockpit_app? && Rails.env.development? %> style="display: flex;"<% end %>>

  <%= render 'beyond_canvas/shared/sidebar' %>

  <main class="main <%= params[:controller].gsub(/[\/_]/, "-") %>--<%= params[:action] %>">

    <%= render 'beyond_canvas/shared/flash' %>
    <%= render 'beyond_canvas/shared/locales' %>
    <%= render 'beyond_canvas/shared/modal' %>
    <%= render 'beyond_canvas/shared/menu' %>

    <div class="main-wrapper<% if menu_content? %> main-wrapper--menu<% end %>">

      <%= render 'beyond_canvas/shared/breadcrumbs' %>

      <%= yield %>

      <%= debug(params) if debug_mode? %>

    </div>

  </main>

</body>
</html>
