<!DOCTYPE html>

<html>
<%= render 'beyond_canvas/shared/head' %>

<body class="beyond-canvas body--public">

  <main class="main <%= params[:controller].gsub(/[\/_]/, "-") %>--<%= params[:action] %>">

    <%= render 'beyond_canvas/shared/flash' %>
    <%= render 'beyond_canvas/shared/locales' %>

    <div class="main-wrapper">

      <%= render 'beyond_canvas/shared/logo' %>

      <%= yield %>

    </div>

    <%= debug(params) if debug_mode? %>

  </main>
</body>
</html>
