<head>
  <%= csrf_meta_tags %>
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />

  <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" rel="stylesheet" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  
  <title><%= full_title(yield :title) %></title>
  
  <% stylesheet_link_tag = BeyondCanvas.configuration.stylesheet_link_tag %>
  <% javascript_include_tag = BeyondCanvas.configuration.javascript_include_tag %>

  <% if defined?(Turbolinks) %>
    <%= stylesheet_link_tag stylesheet_link_tag, 'data-turbolinks-track' => true %>
    <%= javascript_include_tag javascript_include_tag, 'data-turbolinks-track' => true %>
  <% else %>
    <%= stylesheet_link_tag stylesheet_link_tag %>
    <%= javascript_include_tag javascript_include_tag %>
  <% end %>
  <%= render 'beyond_canvas/custom/public_head' %>
</head>
